

<style>
  .ic{
    display: flex;
    height: 0.3rem;
    width: 2.2rem;
    background-color: #3C3D37;
  }

  
</style>
<div class="nav-bar">
  <div class="logo-brand gray-text">RENT HUB</div>
  <div class="mobile-nav-options" style="display: flex;
  align-items: center;
  margin-right: 1rem;" >
    <div style="display: flex;
    flex-direction: column;
    gap: 4px;" (click)="optionsExpand = !optionsExpand" >
      <span class="ic"></span>
      <span class="ic"></span>
      <span class="ic"></span>
    </div>
    <div class="opt-outer" *ngIf="optionsExpand" >
      <div class="opt-inner">
        <ng-container *ngIf = "!currentUser; else signout_template">
          <div class="gray-text" routerLink = '/login' >LOGIN</div>
        <div class="gray-text" routerLink = '/sign-up'>SIGN UP</div>
        <div class="gray-text">PROFILE</div>
        </ng-container>
        <ng-template #signout_template>
          <div *ngIf="homeRoute" class="gray-text" (click)="homeRoute = false" [routerLink] = "['/create-post']" >POST PROPERTY</div>
          <div *ngIf="!homeRoute" class="gray-text" (click)="homeRoute = true" [routerLink] = "['/home']" >HOME</div>
          <div (click)="onSignOut()" class="gray-text">SIGN OUT</div>
         
        </ng-template>
      </div>
    </div>
  </div>
  <div class="right">
    <ng-container *ngIf = "!currentUser; else signout_template">
      <div class="gray-text" routerLink = '/login' >LOGIN</div>
    <div class="gray-text" routerLink = '/sign-up'>SIGN UP</div>
    <div class="gray-text">PROFILE</div>
    </ng-container>
    <ng-template #signout_template>
      <div *ngIf="homeRoute" class="gray-text" (click)="homeRoute = false" [routerLink] = "['/create-post']" >POST PROPERTY</div>
      <div *ngIf="!homeRoute" class="gray-text" (click)="homeRoute = true" [routerLink] = "['/home']" >HOME</div>
      <div (click)="onSignOut()" class="gray-text">SIGN OUT</div>
     
    </ng-template>
    
  </div>
</div>
<router-outlet />
