<!-- <div style="height: 100vh; width: 100vw; background-image: url('/assets/bg.jpg') "> -->


<div class="parent-login" style="margin-top: 15vh; padding-left: 1rem; padding-right: 1rem; ">
    <div class="signup-container">
        <h2>Login</h2>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          
          <div>
            <label for="email">Email:</label>
            <input id="email" formControlName="email" type="email" />
            <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
              <small *ngIf="signupForm.get('email')?.errors?.['required']">Email is required.</small>
              <small *ngIf="signupForm.get('email')?.errors?.['email']">Invalid email format.</small>
            </div>
          </div>
          
          <div>
            <label for="password">Password:</label>
            <input id="password" formControlName="password" type="password" />
            <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
              <small *ngIf="signupForm.get('password')?.errors?.['required']">Password is required.</small>
              <small *ngIf="signupForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</small>
            </div>
          </div>
          
          <button type="submit" [disabled]="signupForm.invalid">Submit</button>
          <small *ngIf = "noUserMsg">{{noUserMsg}}</small>
        </form>
      </div>
    
    </div>  
  <!-- </div> -->
      
    