@media(max-width: 820px) {
    .post-card{
      flex-direction: column !important;
    }
    .home-container {
      flex-direction: column !important;
    }
  }

.home-image {
    max-width: 350px;
    max-height: 250px;
    margin: 5px;
}  

@media(max-width: 420px) {
    .home-image {
        max-width: 16rem !important;
        max-height: 10rem !important;
        margin: 5px;
    }  
  }

  .home-container {
    display: flex;
}
.filter-section {
    display: flex;
    flex: 1;
    padding: 1rem 0.4rem 1rem 1rem;
    height: fit-content;
    flex-direction: column;
    gap: 1rem;
}
.listings-section {
    display: flex;
    flex: 2;
    padding: 1rem 1rem 1rem 0.4rem;
    flex-direction: column;
    gap: 1rem;
}
.filter-card {
    padding: 0.5rem;
    border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 2px 2px 12px #aaa;
    /* width: 100%; */
}

.post-card {
    background-color: #E5D9F2;
    display: flex;
    padding: 0.7rem;
    border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 2px 2px 12px #aaa;
    width: 95%;
}

.post-content {
    justify-content: center;
display: flex;
flex-direction: column;
gap: 1rem;
margin-left: 1rem;
border-left: 2px solid violet;
padding-left: 1rem;
}

.bottom-area {
    display: flex;
gap: 1rem;
width: 100%;
}

.view-detail-button, .fav-button {
    padding: 0.5rem;
    cursor: pointer;
    border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 2px 2px 12px #aaa;
}
.refine-text {
    font-size: 1.3rem;
font-weight: 600;
}

.listings-tab {
    
margin-top: 0.3rem;
display: flex;
border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 2px 2px 12px #aaa;
width: fit-content;

}

.filter-tab{
border-right: 2px solid darkgrey;
padding: 0.5rem;
cursor: pointer;
}
.filter-tab:hover {
    background-color: #aaa;
}
.filter-tab.active{
    background-color: #E5D9F2;
}
.no-listings {
    font-size: 24px;
border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 2px 2px 12px #aaa;
padding: 2rem;
text-align: center;
}